
img {
  height: 10em;
  width: 10em;
}

h1 {
  font-family: 'Francois One', Arial;
  text-align: center;
  font-size: 400%;
}

p {
  font-size: 100%;
  margin-bottom: 2em;
  text-align: center;
}

#photo-one, #photo-two {
  width: 10em;
  height: 10em;
  margin: .5em auto;
}

.choice-box {
  float: left;
  width: 25%;
  border: 1em solid white;
  margin: .5em auto;
  text-align: center;
  font-size: 130%;
  color: #ff0000;
  font-weight: bold;
}
#photo1:active {
  border: 0.2em solid red;
}
#photo2:active {
  border: 0.2em solid blue;
}

#canvas1 {
  background-color: #B8C1D4;
  float: left;
  margin: 1%;
}
